*{
  padding:0px;
  margin:0px;
  font-family: 'Raleway', sans-serif;
}

.banner{
  background-image: url(../img/h_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.responsive{
  height:auto;
  width:100%;
}

.caption h1{
  text-align: center;
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1%;
}

.caption h5{
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

#wel{
  text-align: center;
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1%;

}

.captionn img{
  height: 70px;
  margin: 25px;
}

#click{
  height:30px;
  margin: 25px;
}

.spacer{
  margin-top: 10%;
}

.spacerr{
  margin-top: 10%;
  margin-bottom:5%;
}

.about h1{
  padding: 4% 0% 1% 0%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size:28px;
}

.about p{
text-align: center;
font-weight: 600;
font-size: 18px;
}