*{
  padding:0px;
  margin:0px;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

.banner{
  background-image: url(../img/h_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.caption h1{
  text-align: center;
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1%;
}

.caption h5{
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}


.wel{
  text-align: center;
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1%;
  background-color:red;
}


.captionn img{
  height: 70px;
  margin: 25px;
}

#click{
  height:30px;

}

.spacer{
  margin-top: 10%;
}

.spacerr{
  margin-top: 10%;
  margin-bottom:5%;
}

.spacerrr{
  margin-top: 5%;
  margin-bottom:5%;
}

.spacefooter{
  margin-top: 2%;
  margin-bottom:2%;
}


.about h1{
  padding: 4% 0% 1% 0%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size:28px;
}

.about p{
text-align: center;
font-weight: 600;
font-size: 16px;
}

.service{
  background-image: url(../img/s_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.service h1{
  padding: 4% 0% 1% 0%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size:28px;
  color: white;
}

.service p{
text-align: center;
font-weight: 600;
font-size: 16px;
color: white;
}

.what {
  text-align: center;
}

.what h1{
  padding: 4% 0% 1% 0%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size:28px;
  color:black;
}

.what h5{
  padding: 4% 0% 1% 0%;
  text-transform: uppercase;
  font-weight: 600;
  font-size:16px;
  color:black;
}

.well{
  padding: 4% 0% 1% 0%;
  text-transform: uppercase;
  font-weight: 600;
  font-size:16px;
  color:black;
  background-color: red;
}

.port h1{
  padding: 4% 0% 1% 0%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size:28px;
  color:black;
}

.spacepo{
  padding:2%;
}

#message{
  background-color: transparent;
  height: 200px;
}

#name{
background-color: transparent;
}

#email{
background-color: transparent;
  }

.Contact{
    background-image: url(../img/c_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
.Contact h1{
padding: 4% 0% 1% 0%;
text-align: center;
text-transform: uppercase;
font-weight: 600;
font-size:28px;
color: white;
  }

#icons{
  display: inline-flex;
}

#icons > li >a{
  padding:7px;
}

.futa p{
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color:black;
  }

  #repos1{
    display: none;
  }

  #repos2{
    display: none;
  }

  #repos3{
    display: none;
  }

  .hovertext{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  font-weight: 600;
  font-size:28px;
  color: white;
  text-align: center;
  HEIGHT: auto;
  opacity: 0.55%;
  background: #00000066;
  transform: translate(-50%,-50%);
  }

  .imgg:hover{
    opacity: 0.5;

  }